<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Cистема управления оборудованием</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<body>

	<div class="container my-2">
	<h1>Список оборудования</h1>
	
	<a th:href = "@{/showNewMaintenanceForm}" class="btn btn-primary btn-sm mb-3"> Оформить заявку </a>
	<a th:if="${isAdmin}" th:href = "@{/showNewEquipmentForm}" class="btn btn-primary btn-sm mb-3"> Добавить оборудование </a>
	<a th:if="${isAdmin}" th:href = "@{/showNewSupplierForm}" class="btn btn-primary btn-sm mb-3"> Добавить поставщика </a>
	<a th:if="${isAdmin}" th:href = "@{/showNewDepartmentForm}" class="btn btn-primary btn-sm mb-3"> Добавить подразделение </a>

		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						<a>Название оборудования</a>
					</th>
					<th>
					<a>Статус оборудования</a>
					</th>
					<th>
					<a>Серийный номер</a>
					</th>
					<th>
						<a>Принадлежность подразделению</a>
					</th>
					<th>
						<a>Имя сотрудника</a>
					</th>
					<th>
						<a>Фамилия сотрудника</a>
					</th>
					<th> Действия </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="equipmentDao : ${listEquipments}">
					<td th:text="${equipmentDao.eqName}"></td>
					<td th:text="${equipmentDao.eqStatus}"></td>
					<td th:text="${equipmentDao.serialNumber}"></td>
					<td th:text="${equipmentDao.departmentName}"></td>
					<td th:text="${equipmentDao.userFirstName}"></td>
					<td th:text="${equipmentDao.userLastName}"></td>
					<td> <a th:if="${isAdmin}" th:href="@{/showFormForUpdate/{id}(id=${equipmentDao.id})}" class="btn btn-primary">Обновить данные</a>
					    <a th:if="${isAdmin}" th:href="@{/deleteEquipment/{id}(id=${equipmentDao.id})}" class="btn btn-danger">Удалить</a>
					    <a th:href="@{/viewEquipment/{id}(id=${equipmentDao.id})}" class="btn btn-primary">Посмотреть подробные данные</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
	<a th:href = "@{/showAllMaintenances}" class="btn btn-primary btn-sm mb-3"> Просмотреть все заявки </a>
	<a th:if="${isAdmin}" th:href = "@{/showNewEquipmentForm}" class="btn btn-primary btn-sm mb-3"> Пр оборудование </a>
	<a th:if="${isAdmin}" th:href = "@{/showNewSupplierForm}" class="btn btn-primary btn-sm mb-3"> Добавить поставщика </a>
	<a th:if="${isAdmin}" th:href = "@{/showNewDepartmentForm}" class="btn btn-primary btn-sm mb-3"> Добавить подразделение </a>
	</div>
</body>
</html>