<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Equipment Management System</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<h1>Equipment Management System</h1>
	<hr>
	<h2>Create New Maintenance</h2>

	<form th:action="@{/saveMaintenance}" th:object="${maintenance}" method="POST">
		<div class="form-group">
			<label for="equipmentId">Equipment id:</label>
			<input type="text" th:field="*{equipmentId}" placeholder="Enter department name" class="form-control mb-4 col-4">

			<label for="createDate">Create date:</label>
			<input type="date" th:field="*{createDate}" class="form-control mb-4 col-4">

			<label for="description">Description:</label>
			<input type="text" th:field="*{description}" placeholder="Enter description" class="form-control mb-4 col-4">

			<label for="issuedBy">Issued by:</label>
			<input type="text" th:field="*{issuedBy}" placeholder="Issued by" class="form-control mb-4 col-4">

			<label for="performedBy">Performed by:</label>
			<input type="text" th:field="*{performedBy}" placeholder="Issued by" class="form-control mb-4 col-4">

			<button type="submit" class="btn btn-info col-2">Save Maintenance</button>
		</div>
	</form>
	<hr>
	<a th:href = "@{/}">Back to Equipment List</a>
</div>
</body>
</html>
