<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Система управления оборудованием</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<h1>Система управления оборудованием</h1>
	<hr>
	<h2>Create New User</h2>

	<form th:action="@{/saveEmployee}" th:object="${user}" method="POST">
		<div class="form-group">
			<label for="firstName">First Name:</label>
			<input type="text" th:field="*{firstName}" placeholder="Enter first name" class="form-control mb-4 col-4">

			<label for="lastName">Last Name:</label>
			<input type="text" th:field="*{lastName}" placeholder="Enter last name" class="form-control mb-4 col-4">

			<label for="departmentId">Department ID:</label>
			<input type="number" th:field="*{departmentId}" placeholder="Enter department ID" class="form-control mb-4 col-4">

			<label for="position">Position:</label>
			<input type="text" th:field="*{position}" placeholder="Enter position" class="form-control mb-4 col-4">

			<label for="login">Login:</label>
			<input type="text" th:field="*{login}" placeholder="Enter login" class="form-control mb-4 col-4">

			<label for="password">Password:</label>
			<input type="password" th:field="*{password}" placeholder="Enter password" class="form-control mb-4 col-4">

			<button type="submit" class="btn btn-info col-2">Save User</button>
		</div>
	</form>
	<hr>
	<a th:href="@{/}">Back to Equipment List</a>
</div>
</body>
</html>
