<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Просмотр списка подразделений</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h1>Список подразделений</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название подразделения</th>
            <th>Адрес</th>
            <th>Помещение</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department : ${departments}">
            <td th:text="${department.id}"></td>
            <td th:text="${department.depName}"></td>
            <td th:text="${department.building}"></td>
            <td th:text="${department.room}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href = "@{/}">На главную</a>
</div>
</body>
</html>
