<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Просмотр списка заявок</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h1>Список заявок по оборудованию</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название оборудования</th>
            <th>Дата создания</th>
            <th>Описание</th>
            <th>Заявитель</th>
            <th>Исполнитель</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="maintenance : ${maintenances}">
            <td th:text="${maintenance.id}"></td>
            <td th:text="${maintenance.equipmentSerialNumber}"></td>
            <td th:text="${#dates.format(maintenance.createDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${maintenance.description}"></td>
            <td th:text="${maintenance.issuedByFirstNameLastName}"></td>
            <td th:text="${maintenance.performedByFirstNameLastName}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href = "@{/}">На главную</a>
</div>
</body>
</html>
